/*
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
*/



.title-1 , h2{
    color: blueviolet;
    margin: 20px;
    background-color:yellow !important;

}
.title-2 {
    color: rgb(90, 236, 188)   ;
}
.title-3 {
    color: brown;

}

#title {
    background-color: rgb(218, 102, 49);
} 

input[type="checkbox"]{
    width: 100px;
    height: 100px;
}

a {
    color: rgb(46, 224, 70);
}
a:visited {
    color: rgb(54, 10, 248);
}

a:hover {
    background: black;
}


p:first-child {
    color: blue;
}

p:last-child {
    color: brown;
}

p:nth-child(2) {
    font-size: 25px;
}

p:nth-child(even) {
    color: green;
}

p:nth-child(odd) {
    color: red;
}

div {
    border: 3px dashed black;
    margin: 20px;
    padding: 20px;

}

.cuadrado {
    width: 100px;
    height: 100px;
    background: cyan;
    border: 2px solid blue;
}



